*.iml
.gradle
/local.properties
.idea/
.kotlin/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Gradle build artifacts that should never be in repo
.tmp/
app/.idea/
caches/
daemon/
kotlin-profile/
/wrapper/
/native/
/jdks/
/workers/
